.row {
    --bs-gutter-x: 0;
}

body {
    background-color: #F1F4F9;
    overflow: hidden;
}

.btn-no-style {
    border: none;
    background: none;
}

a, router-link {
    color: inherit;
    text-decoration: none;

    &:hover {
        color: inherit;
    }
}

.h-100vh {
    height: 100vh;
}

.h-without-header {
    height: calc(100vh - 66px);
    max-height: calc(100vh - 66px);
}

.no-border {
    border: none !important;
}

.col-centered {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.breadcrumbs {
    font-size: 12px;

    span {
        cursor: pointer;
    }

    i {
        font-size: 10px;
    }

    .active {
        color: #0d6efd;
    }
}

#content {
    overflow: scroll;

    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #F5F5F5;
    }

    &::-webkit-scrollbar {
        width: 5px;
        background-color: #F5F5F5;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #0d6efd;
    }

    &::-webkit-scrollbar-button {
        height: 12px;
    }
}

.checkbox-group {
    input[type="checkbox"] {
        margin-right: 5px;
    }
}

.social_media_container {
    position: relative;

    i {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        color: black;
        font-size: 20px;
        position: absolute;
    }

    input {
        padding-left: 40px;
    }
}

.account-type {
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.3);
    margin: 0 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    cursor: pointer;
    justify-content: flex-start;

    img {
        width: 90%;
    }

    &__text {
        margin-top: 1rem;
        font-size: 20px;
        text-align: center;
    }

    &:hover {
        box-shadow: 1px 1px 2px 2px rgba(13, 110, 253, 0.6);
        transform: scale(1.05);
    }
}

.fs-10 {
    font-size: 10px !important;
}
//dt
.dt-button-collection {
    margin-top: 10px !important;
}
.dt-button.buttons-columnVisibility {
    &.active {
        background: none;
    }
    background: rgba(200,0,0,0.2);
}
