.row {
    --bs-gutter-x: 0;
}

body {
    background-color: #F1F4F9;
}

.btn-no-style {
    border: none;
    background: none;
}

a, router-link {
    color: inherit;
    text-decoration: none;

    &:hover {
        color: inherit;
    }
}

.h-100vh {
    height: 100vh;
}

.h-without-header {
    height: calc(100vh - 66px);
    max-height: calc(100vh - 66px);
}

.no-border {
    border: none !important;
}

.col-centered {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.breadcrumbs {
    font-size: 12px;

    span {
        cursor: pointer;
    }

    i {
        font-size: 10px;
    }

    .active {
        color: #0d6efd;
    }
}
