.header {
    display: flex;
    height: auto;
    justify-content: space-between;
    box-shadow: 1px 1px 2px 2px rgb(183 183 183 / 63%);
    background: #8bc9f430;

    &__left {
        div {
            width: 100%;
            height: 100%;
            font-size: 20px;
            display: flex;
            margin-left: 12px;
            align-items: center;
            @media(max-width: 900px) {
                display: none;
            }
        }
    }

    &__right {
        margin-right: 12px;
        display: flex;
        align-items: center;

        > div {
            margin-right: 25px;
            display: flex;
            align-items: center;

            i {
                font-size: 20px;
            }
        }

        > div:last-child {
            margin-right: 0;
        }

        .profile {
            .dropdown {
                button {
                    padding: 0;
                    border-radius: 50%;
                    overflow: hidden;
                }

                .dropdown-item {
                    margin-top: 5px;
                    display: flex;
                    align-items: center;

                    i {
                        margin-right: 10px;
                        width: 25px;
                    }
                }
            }
        }

        .notifications {
            cursor: pointer;

            .counter {
                position: relative;
                top: -9px;
                left: -12px;
                background: #fe1f1a;
                height: 19px;
                width: 19px;
                font-size: 13px;
                border-radius: 50px;
                display: flex;
                justify-content: center;
                color: white;
                font-weight: 700;
            }

            .dropdown-menu {
                width: 250px;
                --bs-dropdown-padding-y: 0;
            }

            .dropdown-item {
                padding: 10px 20px;
                border-bottom: 1px solid #eee;

                &:hover {
                    background: rgba(0, 0, 0, 0.1);
                }

                .dropdown-item--footer {
                    color: grey;
                    font-size: 10px;
                    text-align: right;
                }
            }

            .dropdown-item:first-of-type {
                border-top: 1px solid #eee;
            }

            .btn-primary {
                border: none;
                border-radius: 0;
            }

            .check_all {
                font-size: 12px;
                width: 100%;

                &:hover {
                    color: #0d6efd;
                }
            }
        }

        .messages {
            cursor: pointer;

            i {
                font-size: 23px;
            }

            .counter {
                position: relative;
                top: -9px;
                left: -12px;
                background: #fe1f1a;
                height: 19px;
                width: 19px;
                font-size: 13px;
                border-radius: 50px;
                display: flex;
                justify-content: center;
                color: white;
                font-weight: 700;
            }
        }
    }

    .flags {
        .dropdown-menu {
            --bs-dropdown-min-width: 0;
            --bs-dropdown-item-padding-x: .25rem;
        }
    }

    .dropdown > button {
        border: none;
        background: none;

        &:active {
            background: none;
            border: none;
        }

        &:focus-visible {
            box-shadow: none;
        }
    }

    .dropdown-item {
        &:hover {
            background: rgba(0, 0, 0, 0.1);
        }
    }
}

.global-search {
    .input__wrapper {
        position: relative;
        display: inline-block;
        overflow: hidden;

        i {
            margin-left: -20px;
            position: absolute;
            top: 5px;
            font-size: 15px;
        }
    }

    .input__wrapper > input[type=text] {
        border: none;
        outline: none;
        background: none;
        border-bottom: solid 1px rgba(166, 166, 166, 0.39);
    }

    .underline-animation {
        transition: all .3s;
        display: inline-block;
        bottom: 0;
        left: -100%;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: hsla(214, 100%, 64%, 0.52);
    }

    .input__wrapper > input[type=text]:focus + .underline-animation {
        left: 0;
    }

    .input__wrapper > input[type=text]:focus::placeholder {
        color: hsla(214, 100%, 64%, 0.52);
    }

    @media(max-width: 720px) {
        display: none !important;
    }
}
