.btn {
    &-support {
        transition: .3s all linear;
        width: 25%;
        font-size: 20px;
        padding: 20px 40px;
        @media(max-width: 1400px) {
            width: 35%;
        }
        @media(max-width: 1052px) {
            width: 50%;
            padding: 10px 20px;
        }

        &:hover {
            background: #78b6e1;
            border-color: black;
        }
    }
}
